altair
pandas
streamlit 
matplotlib
numpy
opencv-python-headless
streamlit_drawable_canvas
layout
spacy
gensim
plotnine
tomotopy
praw
wordcloud
wordninja
seaborn
re
string
collections
sklearn
scipy
fbpca
textblob

