altair
pandas
streamlit 
matplotlib
numpy
opencv-python-headless
streamlit_drawable_canvas
layout
spacy
gensim
plotnine
tomotopy
praw
wordcloud
re == 2.2.1
string
collections
sklearn
scipy
fbpca
textblob

